{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}

<footer id="page-footer" class="py-3 text-light">

        <div id="course-footer">{{{ output.course_footer }}}</div>
             <div class="container-fluid mdl-links">
                 <div class="row">

                     <div class="col-md-12">
                         {{{ output.footnote }}}

                         {{{ output.login_info }}}

                         {{{ output.home_link }}}

                         {{# output.page_doc_link }}
                             <p class="helplink">{{{ output.page_doc_link }}}</p>
                         {{/ output.page_doc_link }}

                    </div>

               </div>
            </div>


            <div class="container-fluid ls ls-primary">
                <div class="row justify-content-between">
                    <div class="col-md-4">
                        <h4>LEARNING SUPPORT</h4>

                        <p><strong><i class="fa fa-check-circle" aria-hidden="true"></i> <a href="https://www.murdoch.edu.au/students/mymurdoch-advice" target="_blank">MyMurdoch Advice</a>:&nbsp;</strong>&nbsp;visit a location on campus at Perth and Mandurah
                            to get advice about your study, your wellbeing or getting the most out of university.</p>
                        <p><strong><i class="fa fa-check-circle" aria-hidden="true"></i> <a href="https://our.murdoch.edu.au/Student-life/Study-successfully/" target="_blank">Support for Learning Team</a>:&nbsp;</strong> can assist you with all your academic
                            and study skills with on-line and face to face workshops and consults</p>
                        <p><strong><i class="fa fa-check-circle" aria-hidden="true"></i> <a href="https://www.murdoch.edu.au/Kulbardi/" target="_blank">Kulbardi</a>:&nbsp;</strong> provides academic, social and scholarship support for Indigenous students</p>

                    </div>
                    <div class="col-md-4 mx-auto ls-secondary">
                            <p><strong><i class="fa fa-check-circle" aria-hidden="true"></i> <a href="https://our.murdoch.edu.au/Student-life/My-First-Year/Academic-Info-and-Resources/UniEdge/" target="_blank">UniEdge</a></strong>: the all-in-one program
                                assisting first year students to have a strong start to their uni journey</p>
                            <p><strong><i class="fa fa-check-circle" aria-hidden="true"></i> <a href="https://our.murdoch.edu.au/Student-life/Study-successfully/PASS-and-PAC/Peer-Academic-Coaches/" target="_blank">Peer Academic Coaches</a></strong>:&nbsp;successful
                                students who can pass on useful advice on how to improve your writing study skills (also available online)</p>
                            <p><strong><i class="fa fa-check-circle" aria-hidden="true"></i> <a href="https://our.murdoch.edu.au/Student-life/My-First-Year/Support-Services/" target="_blank">Support Services</a></strong>: an index of support services</p>
                      
                    </div>
                    <div class="col-md-4 pac">
                         <a href="https://moodleprod.murdoch.edu.au/mod/collaborate/view.php?id=587816"><img src="https://static.murdoch.edu.au/lms/img/PAC_block_Aug18.jpg" alt="Peer Academic Coaches" class="atto_image_button_text-bottom" width="200" height="135"></a></div>
                    </div>
               
            </div>
            <div class="container-fluid mu-footer">
                <div class="row">
                    <div class="col-md-2">
                        <div id="footer-logo">
                            <a href="https://www.murdoch.edu.au/" target="_blank" title="Home Page"> <img alt="Murdoch University footer logo" src="https://static.murdoch.edu.au/lms/img/mu-port-white-284.png" width="85" height="85"> </a></div>
                        </div>
                    <div class="col-md-8">
                        <div id="footer-legal">
                            <ul>
                            <li><a href="http://www.murdoch.edu.au/">© 2019 Murdoch University</a></li>
                            <li><a href="http://goto.murdoch.edu.au/CopyrightNotice">Copyright &amp; Disclaimer</a></li>
                            <li><a href="http://goto.murdoch.edu.au/TEQSANumber">TEQSA Number: PRV12163</a></li>
                            <li><a href="http://goto.murdoch.edu.au/CRICOSCode">CRICOS Code: 00125J</a></li>
                            </ul>
                       </div>
                   </div>
                   <div class="col-md-2">
                       <div id="footer-links">
                           <ul>
                           <li><a href="http://goto.murdoch.edu.au/ContactUs">Contact us</a></li>
                           <li><a href="http://goto.murdoch.edu.au/Privacy">Privacy</a></li>
                           </ul>
                      </div>
               </div>
          </div>
</div>

        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}


</footer>
